//***************************************************************************************************************
//***************************************************************************************************************
class uart_agent #(type REQ = uvm_sequence_item, type RSP = uvm_sequence_item) extends uvm_agent;

  `uvm_component_param_utils(uart_agent #(REQ,RSP))

  typedef uvm_sequencer #(REQ,RSP) uart_sequencer_t;
  typedef uart_driver #(REQ,RSP) uart_driver_t;

  uart_sequencer_t sequencer;
  uart_driver_t    driver;

  uvm_analysis_port #(REQ) ref_uart_ap;
   
  //
  // NEW
  //
  function new(string name, uvm_component parent);
    super.new(name,parent);
  endfunction
   
  //
  // BUILD phase
  // Create sequencer and driver and port instances
  //
  function void build_phase(uvm_phase phase);
       super.build_phase(phase); 
    // P1 Todo: instantiate the sequencer
       sequencer = uart_sequencer_t :: type_id ::create("sequencer", this); 
    // P1 Todo: instantiate the driver
       driver = uart_driver_t :: type_id ::create("driver", this); 
    // P2 Todo: instantiate ref_uart_ap for hierarchicall connection
       ref_uart_ap = new("ref_uart_ap", this); 
  endfunction
   
  //
  // CONNECT phase
  // Connect sequencer and driver and driver ports
  //
  function void connect_phase(uvm_phase phase);
    // P1 Todo: connect the driver seq_item_port to the sequencer seq_item_export
    driver.seq_item_port.connect(sequencer.seq_item_export); 
    // P2 Todo: connect the driver ref_uart_ap to the agent ref_uart_ap
    driver.ref_uart_ap.connect(this.ref_uart_ap); 
  endfunction
   
endclass
